@model SimpleBlog.Areas.Admin.ViewModels.UsersEdit

@{
    ViewBag.Title = "Update User";
}

<h1>Update User - @Model.Username</h1>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    
    <div class="form-group">
        @Html.LabelFor(a => a.Username)
        @Html.TextBoxFor(a => a.Username, new {@class = "form-control"})
    </div>
    
    <div class="form-group">
        @Html.LabelFor(a => a.Email)
        @Html.TextBoxFor(a => a.Email, new { @class = "form-control", type = "email" })
    </div>
    
    @Html.Partial("_RoleEditor", Model.Roles)
    
    <input type="submit" value="Update User" class="btn btn-primary" />
    <a href="@Url.Action("Index")"> or Cancel</a>
}