@model SimpleBlog.Areas.Admin.ViewModels.UsersResetPassword

@{
    ViewBag.Title = "Reset Password";
}

<h1>Reset Password for @Model.Username</h1>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    
    <div class="form-group">
        @Html.LabelFor(a => a.Password)
        @Html.PasswordFor(a => a.Password, new { @class = "form-control" })
    </div>
    
    <input type="submit" class="btn btn-primary" value="Reset Password" />
    <a href="@Url.Action("Index")"> or Cancel</a>
}